@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap");
/* font-family: "Inconsolata"; */

@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
/* font-family: 'La Belle Aurore', cursive; */

@font-face {
  font-family: "Dank Mono";
  src: url("./assets/DankMono.woff") format("woff");
}

:root {
  --black: #2c2c2c;
  --gray: #f2f2f2;
  --green: #08fdd8;
  --purple: #3f2855;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  padding: 0;
  margin: 0;
}

a {
  all: unset;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#loader.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.hexagon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black);
  z-index: 100;
}

.hexagon {
  width: 100px;
  height: 100px;
}

.hexagon path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 2s ease-in-out forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes iRubberBand {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.rubberBand {
  animation-name: rubberBand;
}

.iRubberBand {
  animation: iRubberBand 1s;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

section {
  height: 100vh;
}

#cursor,
#cursor-dot {
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#cursor {
  width: 24px;
  height: 24px;
  border: 2px solid var(--gray);
}

#cursor-dot {
  width: 4px;
  height: 4px;
  background-color: var(--gray);
  -webkit-animation: 0.4s linear;
  animation: 0.4s linear;
}

.float {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 0;

  position: fixed;
  bottom: 0;
  z-index: 3;
}

.line {
  height: 75px;
  border: 0.5px solid #ffffff;
}

.social {
  left: 50px;
}

.social svg {
  width: 20px !important;
  height: 20px !important;
}

.social svg,
.social svg path,
.mail span,
.topbar,
.topbar #nav a,
.topbar svg,
#cursor {
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.social svg:hover {
  transform: scale(1.5);
}

.social svg:hover:not(.mail) > path {
  stroke: var(--green);
}

.social .mail:hover > path {
  fill: var(--green);
}

.mail {
  right: 50px;
  padding: 0;
}

.mail span {
  font-family: "Inconsolata";
  letter-spacing: 0.05em;
  color: var(--gray);
  writing-mode: vertical-rl;
  text-align: center;
}

.mail span:hover {
  color: var(--green);
}

.topbar {
  background: linear-gradient(
    90deg,
    var(--black) 0%,
    var(--black) 50%,
    var(--purple) 50%,
    var(--purple) 100%
  );
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* padding-inline: 50px; */
  padding-block: 5px;

  position: fixed;
  width: 100%;
  z-index: 10;
}

.topbar svg {
  align-self: center;
  padding-left: 50px;
}

.topbar svg:hover {
  transform: scale(1.1);
}

.topbar svg:hover > path:first-child {
  fill: var(--green);
}

.topbar svg:hover > path:last-child {
  stroke: var(--green);
}

.topbar #name {
  font-family: "Inconsolata";
  letter-spacing: 0.05em;
  font-size: 32px;
  font-weight: 600;
  color: var(--gray);
  justify-self: center;
  align-self: center;

  display: flex;
}

.topbar #name span {
  opacity: 0;
}

.topbar #name span:nth-child(4) {
  margin-right: 12px;
}

.topbar #nav {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  place-items: center;

  padding: 8px;
  margin-right: 50px;
  border-radius: 100px;
  justify-self: end;

  font-family: "Dank Mono";
  font-size: 14px;
  color: var(--gray);
  background-color: rgba(242, 242, 242, 0.1);
}

.topbar #nav #indicator {
  position: absolute;
  left: 10px;
  background-color: rgba(242, 242, 242, 0.1);
  height: 33px;
  width: 83px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 500ms ease-in-out;

  pointer-events: none;
}

.topbar #nav a {
  padding-inline: 15px;
  padding-block: 8px;
  border-radius: 100px;
  cursor: pointer;
}

.topbar #nav a.selected {
  color: var(--green);
}

.side {
  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;
}

.side .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.side .title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  max-width: 650px;
  color: var(--gray);
  padding-bottom: 100px;
}

.title .intro-text {
  font-family: "Inconsolata";
  font-size: 16px;
  color: var(--gray);
  line-height: 25px;
  height: 100px;
}

#left {
  background-color: var(--black);
  z-index: 2;
  width: 50%;
}

#right {
  background-color: var(--purple);
}

.side .text1 {
  font-family: "Inconsolata";
  font-size: 16px;
  color: #08fdd8;
}

.side .text2 {
  font-family: "Dank Mono";
  font-size: 40px;
  color: #ffffff;
}

.side .text3 {
  font-family: "Dank Mono";
  font-size: 40px;
  color: rgba(242, 242, 242, 0.6);

  max-height: min-content;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.side#right .text3 {
  gap: 23.5px;
}

.side .text3 .fancy {
  font-family: "La Belle Aurore", cursive;
  font-size: 40px;
  line-height: 1;
  color: var(--green);
}

.tag-child,
.tag-parent {
  position: relative;
}

.tag-child::before,
.tag-child::after,
.tag-parent::before,
.tag-parent::after {
  position: absolute;

  font-family: "La Belle Aurore", cursive;
  font-size: 13px;
  color: rgba(242, 242, 242, 0.6);
}

.tag-child::before,
.tag-child::after {
  left: -15px;
}

.tag-parent::before,
.tag-parent::after {
  left: -40px;
}

.tag-child::before,
.tag-parent::before {
  content: "<" attr(data-tag) ">";
  top: -15px;
}

.tag-parent::before {
  top: -30px;
}

.tag-child::after,
.tag-parent::after {
  content: "</ " attr(data-tag) ">";
  bottom: -20px;
}

.tag-parent::after {
  bottom: 55px;
}

.html-tag-top,
.html-tag-btm,
.body-tag-top,
.body-tag-btm {
  position: absolute;
  height: 20px;
  font-family: "La Belle Aurore", cursive;
  font-size: 13px;
  color: rgba(242, 242, 242, 0.6);
  z-index: 100;
}

.html-tag-top {
  top: 100px;
  left: 200px;
}

.body-tag-top {
  top: 150px;
  left: 250px;
}

.html-tag-btm {
  bottom: 100px;
  left: 200px;
}
.body-tag-btm {
  bottom: 150px;
  left: 250px;
}

.html-tag-top::before {
  content: "<html>";
}

.html-tag-btm::after {
  content: "</ html>";
}

.body-tag-top::before {
  content: "<body>";
}

.body-tag-btm::after {
  content: "</ body>";
}
